:root {
  font-family: Montserrat, "Agbalumo", "Alata", "Momo Trust Display", sans-serif;

  width: 100%;
  height: 100%;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  text-align: center;
  letter-spacing: 0.5px;

  --buttdust: #062213;
  --light-green: #3d472f;
  --pure-white: #e9dfdd;
  --tan: #CDB084;
  --red: #390d0c;
  --light-red: #662e21;
  --black: #23221D;
  --transparent-black: rgba(15,15,15,0.6);

  --fancy: "Agbalumo";
  --notfancy: "Alata";
  --header: "Momo Trust Display";

  --thicc: "800";

  --header-size: 70px;
  --title-size: 48px;
  --large-body-size: 40px;
  --smoll-size: 28px;
  --smollest-size: 20px;
}

h1
{
  color: var(--black);
  font-family: var(--header), system-ui;
  font-weight: var(--thicc);
  font-size: var(--header-size);

  padding: 0;
  margin: 0;
}

h2
{
  color: var(--black);
  font-family: var(--fancy), system-ui;
  font-size: var(--title-size);

  padding: 0;
  margin: 0;
}

h3
{
    font-size: var(--title-size);

    padding: 0;
    margin: 0;
}

h4
{
    padding: 0;
    margin: 0;
}

p
{
  color: var(--black);
  line-height: normal;
}

body
{
  font-family: var(--notfancy), system-ui;
  font-style: normal;
  font-size: var(--smoll-size);
}

li
{
  color: var(--light-red);
}

a:link
{
  color: var(--light-red);
}

a:visited
{
  color: var(--light-red);
}

button
{
  border-color: transparent;
  background-color: transparent;
  font-family: var(--notfancy), system-ui;
  font-size: var(--smoll-size);
  align-self: center;
}

.loader {
  --color-1: var(--light-green);
  --color-2: var(--pure-white);
  --size: 2px;

  z-index: 3;
  align-self: center;
  justify-content: center;
  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  background: var(--color-1);
  border-radius: 50%;
  position: fixed;
  animation: roll 1s ease-in-out infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  inset: calc(5 * var(--size));
  border-radius: 50%;
  border: calc(5 * var(--size)) solid;
  border-color: var(--color-2) transparent;
}

@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}

.loader2 {
  --color-1: #ffffff;
  --color-2: rgba(255, 255, 255, 0.2);
  --color-3: rgba(255, 255, 255, 0.5);
  --color-4: rgba(255, 255, 255, 0.7);
  --size: 1px;

  font-size: calc(10 * var(--size));
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-1),
            1.8em -1.8em 0 0em var(--color-2),
            2.5em 0em 0 0em var(--color-2),
            1.75em 1.75em 0 0em var(--color-2),
            0em 2.5em 0 0em var(--color-2),
            -1.8em 1.8em 0 0em var(--color-2),
            -2.6em 0em 0 0em var(--color-3),
            -1.8em -1.8em 0 0em var(--color-4);
  }
  12.5% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-4),
            1.8em -1.8em 0 0em var(--color-1),
            2.5em 0em 0 0em var(--color-2),
            1.75em 1.75em 0 0em var(--color-2),
            0em 2.5em 0 0em var(--color-2),
            -1.8em 1.8em 0 0em var(--color-2),
            -2.6em 0em 0 0em var(--color-2),
            -1.8em -1.8em 0 0em var(--color-3);
  }
  25% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-3),
            1.8em -1.8em 0 0em var(--color-4),
            2.5em 0em 0 0em var(--color-1),
            1.75em 1.75em 0 0em var(--color-2),
            0em 2.5em 0 0em var(--color-2),
            -1.8em 1.8em 0 0em var(--color-2),
            -2.6em 0em 0 0em var(--color-2),
            -1.8em -1.8em 0 0em var(--color-2);
  }
  37.5% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-2),
            1.8em -1.8em 0 0em var(--color-3),
            2.5em 0em 0 0em var(--color-4),
            1.75em 1.75em 0 0em var(--color-1),
            0em 2.5em 0 0em var(--color-2),
            -1.8em 1.8em 0 0em var(--color-2),
            -2.6em 0em 0 0em var(--color-2),
            -1.8em -1.8em 0 0em var(--color-2);
  }
  50% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-2),
            1.8em -1.8em 0 0em var(--color-2),
            2.5em 0em 0 0em var(--color-3),
            1.75em 1.75em 0 0em var(--color-4),
            0em 2.5em 0 0em var(--color-1),
            -1.8em 1.8em 0 0em var(--color-2),
            -2.6em 0em 0 0em var(--color-2),
            -1.8em -1.8em 0 0em var(--color-2);
  }
  62.5% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-2),
            1.8em -1.8em 0 0em var(--color-2),
            2.5em 0em 0 0em var(--color-2),
            1.75em 1.75em 0 0em var(--color-3),
            0em 2.5em 0 0em var(--color-4),
            -1.8em 1.8em 0 0em var(--color-1),
            -2.6em 0em 0 0em var(--color-2),
            -1.8em -1.8em 0 0em var(--color-2);
  }
  75% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-2),
            1.8em -1.8em 0 0em var(--color-2),
            2.5em 0em 0 0em var(--color-2),
            1.75em 1.75em 0 0em var(--color-2),
            0em 2.5em 0 0em var(--color-3),
            -1.8em 1.8em 0 0em var(--color-4),
            -2.6em 0em 0 0em var(--color-1),
            -1.8em -1.8em 0 0em var(--color-2);
  }
  87.5% {
    box-shadow:
            0em -2.6em 0em 0em var(--color-2),
            1.8em -1.8em 0 0em var(--color-2),
            2.5em 0em 0 0em var(--color-2),
            1.75em 1.75em 0 0em var(--color-2),
            0em 2.5em 0 0em var(--color-2),
            -1.8em 1.8em 0 0em var(--color-3),
            -2.6em 0em 0 0em var(--color-4),
            -1.8em -1.8em 0 0em var(--color-1);
  }
}

@media screen and (max-width: 800px) /*mobile section*/
{
  h1
  {
    font-size: 2.4em;
    line-height: 0.9;
  }

  p
  {
    font-size: large;
  }

  li
  {
    font-size: large;
  }
}
