:root {
  font-family: Montserrat, "Agbalumo", "Alata", "Momo Trust Display", sans-serif;

  width: 100%;
  height: 100%;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  text-align: center;
  letter-spacing: 0.5px;

  --buttdust: #062213;
  --light-green: #3d472f;
  --pure-white: #e9dfdd;
  --tan: #CDB084;
  --red: #390d0c;
  --light-red: #662e21;
  --black: #23221D;
  --transparent-black: rgba(15,15,15,0.6);

  --fancy: "Agbalumo";
  --notfancy: "Alata";
  --header: "Momo Trust Display";

  --thicc: "800";

  --header-size: 70px;
  --title-size: 48px;
  --large-body-size: 40px;
  --smoll-size: 28px;
  --smollest-size: 20px;
}

h1
{
  color: var(--black);
  font-family: var(--header), system-ui;
  font-weight: var(--thicc);
  font-size: var(--header-size);
}

h2
{
  color: var(--black);
  font-family: var(--fancy), system-ui;
  font-size: var(--title-size);
  padding-bottom: 1%;
}

p
{
  color: var(--black);
  line-height: normal;
}

body
{
  font-family: var(--notfancy), system-ui;
  font-style: normal;
  font-size: var(--smoll-size);
}

li
{
  color: var(--light-red);
}

a:link
{
  color: var(--light-red);
}

a:visited
{
  color: var(--light-red);
}

button
{
  border-color: transparent;
  background-color: transparent;
  font-family: var(--notfancy), system-ui;
  font-size: var(--smoll-size);
  align-self: center;
}

.loader {
  --color-1: var(--light-green);
  --color-2: var(--pure-white);
  --size: 2px;

  z-index: 3;
  align-self: center;
  justify-content: center;
  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  background: var(--color-1);
  border-radius: 50%;
  position: fixed;
  animation: roll 1s ease-in-out infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  inset: calc(5 * var(--size));
  border-radius: 50%;
  border: calc(5 * var(--size)) solid;
  border-color: var(--color-2) transparent;
}

@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}


@media screen and (max-width: 800px) /*mobile section*/
{
  h1
  {
    font-size: 2.4em;
    line-height: 0.9;
  }

  p
  {
    font-size: large;
  }

  li
  {
    font-size: large;
  }
}
