:root {
  font-family: Montserrat, sans-serif;

  width: 100%;
  height: 100%;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  letter-spacing: 0.5px;
}

h1
{
  font-size: 3.2em;
  line-height: 1.1;
  color: #23221D;
  font-weight: 800;
}

h2
{
  color: #23221D;
  font-weight: 700;
  font-size: 2rem;
}

p
{
  color: #23221D;
  line-height: 28px;
}

body
{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li
{
  color: #340807;
  font-size: x-large;
}

a:link
{
  color: #612b1f;
}

a:visited
{
  color: #612b1f;
}

button
{
  border-color: transparent;
  background-color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "Alata", sans-serif;
}

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.alata-regular
{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 800px)
{
  h1
  {
    font-size: 2.4em;
    line-height: 0.9;
  }

  p
  {
    font-size: large;
  }

  li
  {
    font-size: large;
  }

  :root {
    --dark-green: #062213;
    --light-green: #3d472f;
    --pure-white: #e9dfdd;
    --tan: #CDB08;
  }
}
