.footer
{
    background-color: var(--buttdust);
    fill: var(--buttdust);

    height: 5%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.footer-content
{
    margin-top: 0;
    margin-bottom: 2%;
}

.footer p
{
    color: var(--light-green);
    font-size: var(--smollest-size);
    font-family: var(--notfancy), system-ui;
}

.footer li, .footer a:link, .footer a:visited
{
    color: var(--light-red);
}

.wave
{
    align-self: center;
}