.galleryPopUp
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 2;

    height: 100%;
    width: 100%;

    background-color: rgba(15,15,15,0.6);
}

.closeButton
{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.imageContainer
{
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;

    height: 90%;
    width: auto;
    border-radius: 30px;
    aspect-ratio: 1;

    background-color: rgba(15,15,15);
}

.closeGallery
{
    display: flex;
    justify-content: end;
    width: 100%;
    height: auto;
}

.closeGallery button
{
    width: 8%;
}

.gallery-image
{
    display: flex;
    justify-content: center;
    align-content: center;

    max-width: 100%;
    max-height: 80%;
}

.imageContainer h2
{
    color: white;
    width: 100%;
    margin: 1%;
}

.arrow-left
{
    height: 15%;
    aspect-ratio: 1;
}

.arrow-right
{
    height: 15%;
    aspect-ratio: 1;
}