.imageButton
{
    display: flex;
    justify-content: center;

    border-radius: 10px;
    border: 0;

    padding: 0;
    margin: 1%;
}

.imageButton button
{
    background-color: #213547;

    width: 100%;
}

.imageButton:hover
{

}

.imageButton img
{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.imageButton img:hover
{
    opacity: 0.8;
}

.imageButton span
{
    position: absolute;
    align-self: center;
}

@media screen and (max-width: 800px)
{
    .imageButton
    {
        width: 75%;
    }
}