.info-card
{
    width: 100%;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
    font-family: Futura, sans-serif;
}

.info-card-content
{
    width: 60%;
    height: auto;
    margin-bottom: 2%;

    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;

    font-family: Alata, Sans-serif, serif;
    font-size: 28px;
}

.info-card-box
{
    width: 60%;
    height: auto;
    margin-bottom: 2%;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;

    font-family: Alata, Sans-serif, serif;
    font-size: 28px;
}

.infoButton
{
    background-color: #CDB084;;
    border-radius: 5px;
    border-color: black;
    padding: 1%;
    margin: 1%;
    color: white;
}