.loginPopUp
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 2;

    height: 100%;
    width: 100%;

    background-color: var(--transparent-black);
}

.closeBackground
{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.loginContainer
{
    display: flex;
    align-content: start;
    justify-content: center;
    flex-wrap: wrap;

    height: 50%;
    width: auto;
    border-radius: 30px;
    border: 1vh solid;
    aspect-ratio: 2/1;

    border-color: var(--light-green);
    background-color: var(--tan);
}

.loginContainer h2
{
    width: 100%;
    font-family: "Agbalumo", system-ui;
    margin-bottom: 2%;
}

.closeLogin
{
    display: flex;
    justify-content: end;
    width: 100%;
}

.closeLogin button
{
    width: 10%;
    aspect-ratio: 1;
}

.closeLogin img
{
    aspect-ratio: 1;
}

.loginContainer input
{
    width: 100%;
    margin: 2% 10%;
    height: auto;
}

.loginContainer input:invalid
{
    border: var(--red) solid 3px;
}

.submitButton
{
    border-radius: 50px;
    padding: 2%;
    margin: 2% 1% 2%;
    width: 30%;
    height: auto;
    background-color: var(--black);
    color: var(--pure-white);
}

.loginContainer p
{
    margin: 0;
}

.errorText
{
    width: 100%;
    font-family: var(--notfancy), system-ui;
    color: var(--red);
    margin: 0;
}

.loginContainer h4
{
    width: 100%;
    font-family: var(--notfancy), system-ui;
    color: var(--black);
    margin: 1%;
    font-size: 16px;
}

input[type=text]
{
    width: 80%;
    padding: 2%;
    margin: 10px 0;
    border-radius: 50px;
    background-color: var(--pure-white);
    border: none;
    font-family: var(--notfancy), system-ui;
}