.footer
{
    background-color: #062213;
    fill: #062213;

    height: 35%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

.footer-content
{
    margin-bottom: 2%;
}

.footer p
{
    color: #3d472f;
}

.wave
{
    align-self: center;
}