.saveTheDate
{
    width: 100%;
    height: auto;
}

.saveTheDate-landing
{
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%), url("src/assets/zenda-front.png") no-repeat fixed;
}

.saveTheDate-top
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    padding-top: 10%;
    padding-left: 15%;
    height: 15vh;
}

.saveTheDate-top h3
{
    font-family: "Alata", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: var(--tan);
}

.saveTheDate-middle
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 10%;
    height: 15vh;
}

.saveTheDate-middle h1
{
    font-family: var(--fancy), system-ui;
    font-size: 64px;
    color: var(--tan);
}

.saveTheDate-middle h4
{
    font-family: var(--fancy), system-ui;
    font-size: 36px;
    color: var(--tan);
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.saveTheDate-bottom
{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 15%;
    height: 15vh;
}

.saveTheDate-bottom h3
{
    font-family: "Alata", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: var(--tan)
}

.saveTheDate-content-section
{
    background-color: #e9dfdd;
    fill: #e9dfdd;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    width: 100%;
    height: 80%;

    padding-bottom: 2%;
}
.saveTheDate-content-section h2
{
    font-family: var(--fancy), system-ui;
    color: var(--light-green);
    font-size: 48px;
}

.saveTheDate-locationContainer
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    height: auto;
}

.saveTheDate-container h1
{
    font-family: "Agbalumo", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    color: #3d472f !important;
}

.saveTheDate-locationPanel
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    height: auto;

    padding-bottom: 5%;

    font-family: var(--notfancy), system-ui;
    font-size: 40px;
}

.saveTheDate-locationPanel h2
{
    width: 100%;
    font-family: var(--fancy), system-ui;
    color: var(--light-green);
    font-size: 48px;
}

.saveTheDate-locationPanel h3
{
    width: 100%;
    font-family: var(--notfancy), system-ui;
    font-size: 36px;
}

.saveTheDate-faqContainer
{
    background-color: #CDB084;
    fill: #CDB084;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    height: auto;
}